<html ng-app="ar">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" >
    <link rel="stylesheet" href="index.css">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.7/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.js"></script>
    <script src="https://cdn.rawgit.com/WebDevTmas/moment-round/master/src/moment-round.js"></script>
    <script src="index_babel.js"></script>

  </head>
  <body ng-controller="main as MC">

    <div class="container">
      <div class="row">
        <div style="text-align: center">
          <h1><a href="https://www.reddit.com/r/AdvancedRunning/comments/57fp60/the_weekender_1014/">The Weekender 10/14</a></h1>
          <div class="lead">{{MC._comments.length}} comments</div>
        </div>
      </div>

      <div class="row">
        <div class="chart" id="archart"></div>
      </div>

      <div class="row">
        <div class="col col-xs-6 col-md-2">
          <div class="form-group">
            <select 
              class="form-control"
              ng-model="MC.sortBy"
              ng-change="MC.sortComments()">

              <option value="count">By Count</option>
              <option value="score">By Total</option>
              <option value="average">By Average</option>
              <option value="max">By Max</option>
              <option value="author">By User</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <table class="table table-hover">
            <thead class="thead-inverse">
              <tr>
                <th>Rank</th>
                <th></th>
                <th>User</th>
                <th>Comments</th>
                <th>Total Score</th>
                <th>Average</th>
                <th>Max</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="comment in MC.comments"
                  class="clickable"
                  ng-click="MC.rowClicked(comment)">
                <td ng-bind="$index + 1"></td>
                <td>
                  <input type="checkbox"
                    ng-model="comment.checked"
                    ng-click="$event.stopPropagation()" />
                </td>
                <td ng-bind="comment.author"  ></td>
                <td ng-bind="comment.count"></td>
                <td ng-bind="comment.score"></td>
                <td ng-bind="comment.average | number:2"></td>
                <td ng-click="$event.stopPropagation()">
                  <a ng-href="{{comment.maxlink}}" target="_blank">{{ comment.max }}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>

  
  </body>
</html>
