
<h2>{{EC.event.name}} - {{EC.event.date}}</h2>
<h2>Events: {{EC.event.events}}</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link " ng-class="{'active': EC.tab === 'start'}" href="" ng-click="EC.changeTab('start')">Start List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': EC.tab === 'results'}" href="" ng-click="EC.changeTab('results')">Results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': EC.tab === 'points'}" href="" ng-click="EC.changeTab('points')">Points</a>
  </li>
</ul>

<a href="https://github.com/jgr3go/reddit_ar/blob/master/mooseleague/{{EC.event.file}}" 
      target="_blank"
      style="float: right; font-size: .9rem;">Request Edit</a>

<div ng-if="EC.tab === 'start'">
  <div ng-repeat="league in EC.event.leagues">
    <a id="{{league.anchor}}"></a>
    <h4>
      {{league.name}}
      <a href="" ng-click="EC.scrollTo(league)" class="fa fa-link clickable link"></a>
    </h4>
    <table class="table table-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 25px;">Lane</th>
          <th style="width: 50%;">Name</th>
          <th style="width: 40px;">VDOT</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ent in league.entrants">
          <td>{{ent.lane}}</td>
          <td>{{ent.user}}</td>
          <td>{{ent.VDOT ? (ent.VDOT | number:1) : ''}}</td>
          <td>{{ent.note}}</td>
        </tr> 
      </tbody>
    </table>
  </div>

  <h4>Head to Head</h4>
  <table class="table table-sm" ng-repeat="h2h in EC.event.h2h">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 25px;">Lane</th>
        <th style="width: 50%;">Name</th>
        <th style="width: 40px;">VDOT</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ent in h2h.entrants">
        <td>{{ent.lane}}</td>
        <td>{{ent.user}}</td>
        <td>{{ent.VDOT || ''}}</td>
        <td>{{ent.note}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div  ng-if="EC.tab === 'results'">


  <div ng-repeat="league in EC.event.leagues">
    <a id="{{league.anchor}}"></a>
    <h4>
      {{league.name}}
      <a href="" ng-click="EC.scrollTo(league)" class="fa fa-link clickable link"></a>
    </h4>
    <table class="table table-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 25px;">Place</th>
          <th style="width: 40%;">Name</th>
          <th style="width: 15%">Note</th>
          <th>Time</th>
          <th>Points</th>
          <th>Strava</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ent in league.entrants | orderBy:'time'">
          <td>{{ent.heatPlace}}</td>
          <td>{{ent.user}}</td>
          <td>{{ent.note}}</td>
          <td>{{ent.time}}</td>
          <td>{{ent.heatPoints}}</td>
          <td><a href="{{ent.strava}}" ng-show="ent.strava" target="_blank"><img src="https://www.strava.com/favicon.ico" style="height: 1rem;"></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Head to Head</h4>
  <table class="table table-sm" ng-repeat="h2h in EC.event.h2h">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 25px;">Place</th>
        <th style="width: 50%;">Name</th>
        <th>Time</th>
        <th>Strava</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ent in h2h.entrants | orderBy: 'time'"
          ng-class="{'winner': (ent.time && $index === 0) ,
                    'loser': (ent.time && $index !== 0) }">
        <td>{{ $index + 1 }}</td>
        <td>{{ent.user}}</td>
        <td>{{ent.time}}</td>
        <td><a href="{{ent.strava}}" ng-show="ent.strava" target="_blank"><img src="https://www.strava.com/favicon.ico" style="height: 1rem;"></a></td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-show="EC.tab === 'points'">
  <table class="table table-sm">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 25px;">Place</th>
        <th style="width: 50%;">Name</th>
        <th style="width: 20%;">Time</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="win in EC.event.winners">
        <td>{{win.place}}</td>
        <td>{{win.user}}</td>
        <td>{{win.time}}</td>
        <td>{{win.points}}</td>
      </tr>
    </tbody>
  </table>
</div>