
<h2>
  {{EC.event.name}} - {{EC.event.displayDate}}
</h2>
<h2>
  Event: {{EC.event.events}}
  <a ng-if="EC.event.submit" href="{{EC.event.submit}}" target="_blank" class="btn btn-primary">Submit Results</a>
</h2>

<ul class="nav nav-tabs">
  <!-- <li class="nav-item">
    <a class="nav-link " ng-class="{'active': EC.tab === 'start'}" href="" ng-click="EC.changeTab('start')">Start List</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" ng-class="{'active': EC.tab === 'results'}" href="" ng-click="EC.changeTab('results')">Results</a>
  </li>
  <a href="{{EC.event.link}}" target="_blank" style="padding-left: 15px;padding-top:10px;font-size:1.15em;">
    <img src="https://reddit.com/favicon.ico" style="height:1.3em;">
    Reddit Discussion
  </a>
  <!-- <li class="nav-item">
    <a class="nav-link" ng-class="{'active': EC.tab === 'points'}" href="" ng-click="EC.changeTab('points')">Points</a>
  </li>
  <li class="nav-item" ng-show="EC.hasRelay">
    <a class="nav-link" ng-class="{'active': EC.tab === 'relay'}" href="" ng-click="EC.changeTab('relay')">Relays</a>
  </li> -->
</ul>

<a href="{{EC.event.editLink}}" 
      target="_blank"
      style="float: right; font-size: .9rem;">Request Edit</a>

<!-- <div ng-if="EC.tab === 'start'">
  <div ng-repeat="league in EC.event.leagues">
    <a id="{{league.anchor}}"></a>
    <h4>
      {{league.name}}
      <a href="" ng-click="EC.scrollTo(league)" class="fa fa-link clickable link"></a>
    </h4>
    <table class="table table-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 25px;">Lane</th>
          <th style="width: 50%;">Name</th>
          <th style="width: 40px;">VDOT</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ent in league.entrants | orderBy:'lane'">
          <td>{{ent.lane}}</td>
          <td>{{ent.user}}</td>
          <td>{{ent.VDOT ? (ent.VDOT | number:1) : ''}}</td>
          <td>{{ent.note}}</td>
        </tr> 
      </tbody>
    </table>
  </div>

  <h4>Head to Head</h4>
  <table class="table table-sm" ng-repeat="h2h in EC.event.h2h">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 25px;">Lane</th>
        <th style="width: 50%;">Name</th>
        <th style="width: 40px;">VDOT</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ent in h2h.entrants">
        <td>{{ent.lane}}</td>
        <td>{{ent.user}}</td>
        <td>{{ent.VDOT || ''}}</td>
        <td>{{ent.note}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<div  ng-if="EC.tab === 'results'">

  <div ng-repeat="result in EC.event.results">
    <table class="table table-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 25px;">Place</th>
          <th style="width: 20%;">Division</th>
          <th style="width: 50px;">Points</th>
          <th style="width: 50px;">Runners</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="division in result.divisions">
          <td>{{division.place}}</td>
          <td>{{division.name}}</td>
          <td>{{division.points}}</td>
          <td>{{division.athletes}}</td>
          <td>{{division.note}}</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 25px;">Place</th>
          <th style="width: 20%;">Name</th>
          <th>Division</th>
          <th>MF</th>
          <th style="width: 100px;">Time</th>
          <th style="width: 100px;">Time (AG)</th>
          <th style="width: 80px;">% WR</th>
          <th style="width: 50px;">Points</th>
          <th>Notes</th>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="time in result.times">
          <td>{{time.place}}</td>
          <td>{{time.username}}</td>
          <td>{{time.division}}</td>
          <td>{{time.sex}}</td>
          <td>{{time.time}}</td>
          <td>{{time.age_graded_time}}</td>
          <td>{{time.percent_world_record | percent}}</td>
          <td>{{time.points}}</td>
          <td>{{time.note}}</td>
          <td>
            <a ng-repeat="link in time.links"
                href="{{link.url}}"
                target="_blank">
              <img ng-if="link.type === 'strava'" src="https://www.strava.com/favicon.ico" style="height: 1rem;">
              <img ng-if="link.type === 'youtube'" src="https://www.youtube.com/favicon.ico" style="height: 1rem;">
              <img ng-if="link.type === 'reddit'" src="https://www.reddit.com/favicon.ico" style="height: 1rem;">
              
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- 

  <div ng-repeat="league in EC.event.leagues">
    <a id="{{league.anchor}}"></a>
    <h4>
      {{league.name}}
      <a href="" ng-click="EC.scrollTo(league)" class="fa fa-link clickable link"></a>
    </h4>
    <table class="table table-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 25px;">Place</th>
          <th style="width: 20%;">Name</th>
          <th style="width: 20%">Note</th>
          <th ng-repeat-start="evt in EC.event.events" style="width: 10%; white-space: pre;" >{{EC.event.events.length > 1 ? evt + '\n' : '' }}Time</th>
          <th ng-repeat-end>Points</th>
          <th ng-show="EC.event.events.length > 1">Meet Points</th>
          <th>Links</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ent in league.entrants">
          <td>{{ent.heatPlace}}</td>
          <td>{{ent.user}}</td>
          <td>{{ent.note}}</td>
          <td ng-repeat-start="evt in ent.events">{{evt.time}}</td>
          <td ng-repeat-end>{{evt.heatPoints}}</td>
          <td ng-show="EC.event.events.length > 1"><strong>{{ent.heatPoints}}</strong></td>
          <td>
            <a ng-repeat="link in ent.links"
                href="{{link.url}}"
                target="_blank">
              <img ng-if="link.type === 'strava'" src="https://www.strava.com/favicon.ico" style="height: 1rem;">
              <img ng-if="link.type === 'youtube'" src="https://www.youtube.com/favicon.ico" style="height: 1rem;">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h4>Head to Head</h4>
  <table class="table table-sm" ng-repeat="h2h in EC.event.h2h">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 25px;">Place</th>
        <th style="width: 35%;">Name</th>
        <th style="width: 15%; white-space: pre;" ng-repeat="evt in EC.event.events">{{EC.event.events.length > 1 ? evt + '\n' : '' }}Time</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ent in h2h.entrants | orderBy: 'heatPlace'"
          ng-class="{'winner': (ent.heatPlace === 1) ,
                    'loser': (ent.heatPlace && ent.heatPlace !== 1) }">
        <td>{{ $index + 1 }}</td>
        <td>{{ent.user}}</td>
        <td ng-repeat="evt in ent.events">{{evt.time}}</td>
        <td>
          <a ng-repeat="link in ent.links"
                href="{{link.url}}"
                target="_blank">
            <img ng-if="link.type === 'strava'" src="https://www.strava.com/favicon.ico" style="height: 1rem;">
            <img ng-if="link.type === 'youtube'" src="https://www.youtube.com/favicon.ico" style="height: 1rem;">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- <div ng-show="EC.tab === 'points'">
  <table class="table table-sm">
    <thead class="thead-inverse">
      <tr>
        <th style="width: 25px; cursor: pointer;"
            ng-click="EC.sortWinnersBy('place')">Place</th>
        <th style="width: 20%;">Name</th>
        <th style="width: 20%;">Note</th>
        <th ng-repeat-start="evt in EC.event.events" 
            style="width: 10%; white-space: pre; cursor: pointer;"
            ng-click="EC.sortWinnersBy('event', $index)">{{EC.event.events.length > 1 ? evt + '\n' : ''}}Time</th>
        <th ng-repeat-end
            ng-click="EC.sortWinnersBy('event', $index)"
            style="cursor: pointer;">Points</th>
        <th ng-show="EC.event.events.length > 1"
            ng-click="EC.sortWinnersBy('place')"
            style="cursor: pointer;">Meet Points</th>
        <th>Links</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="win in EC.event.winners">
        <td>{{win.place}}</td>
        <td>{{win.user}}</td>
        <td>{{win.note}}</td>
        <td ng-repeat-start="evt in win.events">{{evt.time}}</td>
        <td ng-repeat-end>{{evt.points}}</td>
        <td ng-show="EC.event.events.length > 1"><strong>{{win.points}}</strong></td>
        <td>
          <a ng-repeat="link in win.links"
              href="{{link.url}}"
              target="_blank">
            <img ng-if="link.type === 'strava'" src="https://www.strava.com/favicon.ico" style="height: 1rem;">
            <img ng-if="link.type === 'youtube'" src="https://www.youtube.com/favicon.ico" style="height: 1rem;">
          </a>
        </td> 
      </tr>
    </tbody>
  </table>
</div>

<div ng-show="EC.tab === 'relay'">
  <div ng-repeat="event in EC.event.relayLeagueWinners" ng-if="event.isRelay">
    <h4>{{event.event}}</h4>
    <table class="table table-sm">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 25px;">Place</th>
          <th style="width: 40%">Division</th>
          <th style="width: 75px;">Time</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="league in event.leagues">
          <td>{{league.place}}</td>
          <td>{{league.name}}</td>
          <td>{{league.totalTime}}</td>
          <td><span style="white-space: pre">{{league.notes}}</span></td>
        </tr>  
      </tbody>
    </table>
  </div>
</div> -->
