.container {
  font-size: 11px;
}

.bg-inverse {
  background-color: #800000 !important;
}

.thead-inverse th {
  background-color: #800000;
}

table {
  font-size: .85rem;
}

.next-meet {
  background-color: #800000;
  color: white;
}
.next-meet-heading {
  font-size: .8rem;
}
.next-meet-count {
  min-height: 40px;
  border-radius: 2px;
  background-color: #4d0000;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.next-meet a {
  color: white;
  font-size: 1rem;
}

.clickable {
  cursor: pointer;
}

.link {
  font-size: .9rem;
}

.winner {
  font-weight: bold;
  color: green;
}
.loser {
  text-decoration: line-through;
}

.nav-tabs a.nav-link {
  font-size: .9rem;
}